{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{ include('security/logout.html.twig') }}

    {% for note in notes %}
        <div>
            <span>Title => {{ note.title }}</span>
            <span>Note => {{ note.essay }}</span>
            <a href="{{ path('note_delete', {'id':note.id}) }}">delete</a>
            <a href="{{ path('note_update', {'id':note.id}) }}">update</a>
        </div>
    {% endfor %}
    <a href="{{ path('note_add') }}">add</a>
</div>
{% endblock %}
